import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Roboco";
}

.banner{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_rm5S_6TyqEnqnFmZ-qC6tcqV39BTOSUCb_IPe_O7Lu0108CfjrrcNnY&s=10") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.lingkaran{
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.lingkaran i{
  position: relative;
  top: 30px;
}

.kontak{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSylcTm1CHpur1tK4ZINCEgcZ22xbAzKEQ7FA&usqp=CAU") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}